/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 30px;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.container {
  text-align: center;
}

/* Navigation Bar */
.nav {
  transform: translateX(30%);
  max-width: 60%;
  border-bottom: 1px solid green;
  margin-bottom: 30px;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.nav li:first-child {
  padding-left: 0;
}

.nav .hello {
  transform: translateY(-8px);
}

.nav img {
  margin-left: 15px;
  width: 28px;
  height: 28px;
  background-size: cover;
  background-position: top center;
  border-radius : 50%;
  transform: translateY(5px);
}
ul li a {
  text-decoration: none;
}

ul li a:hover {
  background-color: #636363;
  color: white;
}

#logout {
  border : none;
  font: inherit;
  background-color: white;
}

#logout:hover {
  background-color: #636363;
  color: white;
}

.active {
  font-weight: 900;
}

/* Signin Page */
.logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.signin-header {
  height: 25vh;
}

.signin-htext {
  padding-top: 20px;
}

.signin-form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  max-width: 36%;
  transform: translateX(90%);
}

.submit {
  transform: translateX(10vw);
  max-width: 15vw;
  margin-top: 20px;
  background-color: #55c57a;
  color: #fff;
  padding: 15px 40px;
  text-transform: uppercase;
  border-radius: 100px;
  border-style: none;
}

/* Dashboard : filtres */

.answer-filter {
  margin-top: 8vh;
  height: 25vh;
}

.answer-filter button {
  border-radius: 100px;
  border-style: none;
  padding: 15px 40px;
  max-width: 15vw;
  background-color: #55c57a;
  color: #fff;
  margin-right: 30px;
}

.answer-filter button:disabled {
  background-color: #D3D3D3;
}

/* Question --> Dashboard */

.question {
  width: 100%;
  max-height: 300px;
  max-width: 590px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 10px;
  padding-bottom: 20px;
}
.question-author {
  font-weight: 700;
  padding-bottom: 20px;
}

.question-body {
  display: flex;
  flex-direction: row;
}

.question-info {
  width: 50%
}

.question-info .vote {
  display: flex;
  flex-direction: column;
  padding-top : 12px;
  padding-left: 18px;
}

.question-text {
  font-weight: 900;
}
 
.question-info button {
  border-radius: 100px;
  border-style: none;
  padding: 15px 40px;
  max-width: 15vw;
  background-color: #55c57a;
  color: #fff;
  margin-top: 40px;
}

/* avatar : Question (Dashboard) - Score (Leaderboard) */
.avatar {
  width: 40%;
  border-right: 1px solid gray;
}

.avatar img {
  margin-left: 10px;
  width: 140px;
  height: 140px;
  background-size: cover;
  background-position: top center;
  border-radius : 50%;
}


/* Score : --> Leaderboard */
.score {
  width: 100%;
  max-height: 300px;
  max-width: 590px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 10px;
  padding-bottom: 20px;
}

.score-info {
  text-align: left;
  padding-left: 15px;
  border-right: 1px solid #D3D3D3;
  padding-right: 20px;
}

.score-info p:first-child {
  font-weight: 700;
}

.score-total {
  display : flex;
  flex-direction: column;
  border: 1px solid gray;
  padding: 20px 15px;
  border-radius: 5px;
  transform : translateX(60%);
}

.score-title {
  border-bottom: 1px solid gray;
}

.score-nb {
  margin-top: 25px;
  padding-top: 8px;
  font-weight: 900;
  width: 50px;
  height: 50px;
  vertical-align: middle;
  background-color: yellow;
  background-size: cover;
  background-position: top center;
  border-radius: 50%;
}

/* New Question */

.new-header {
  text-align: center;
  margin-bottom: 10vh;
}

.new-question {
  display: flex;
  flex-direction: column;
  transform: translateX(33vw);
}

.inputOption {
  padding: 12px;
  max-width: 40%;
  border: 1px solid gray;
  border-radius: 5px;
}

/*

.btn {
  text-transform: uppercase;
  margin: 35px auto;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.29);
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  width: 250px;
  position: relative;
}
*/

.results-info {
  margin-left: 20px;
}

.yourVote {
  font-size: 0.8em;
  font-weight: 900;
  width: 83px;
  height: 83px;
  vertical-align: middle;
  padding-top: 15px;
  background-color: orange;
  background-size: cover;
  background-position: top center;
  border-radius: 50%;
  transform : translate(15vw, -30vh);
}

meter {
  text-align: center;
  margin-right: 15px;
}

meter:after {
  content: attr(value)'%'
}
  

/* Signin Page : animation */
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}